p {
    font-family:verdana, courier;
    padding: 16px;
}

button {
 
}

#main {
    display: block;
    padding-top: 8px;
    padding-right: 16px;
    padding-bottom: 8px;
    padding-left: 16px;
}

#profile {
    width:238px;
    height:357px;
    position:fixed;
    right:8px;
    top:8px;
    float: right;
    border-radius: 10px;
}

#work {
    width:238px;
    height:357px;
    position:fixed;
    right:8px;
    top:380px;
    float: right;
    border-radius: 10px;
}

body {
 
}

.bar-block .bar-item {
    width: 100%;
    display: block;
    padding-top: 8px;
    padding-right: 16px;
    padding-bottom: 8px;
    padding-left: 16px;
    text-align: left;
}

h1 {
    display:block;
    padding-left:8px;
    padding-top:8px;
    padding-bottom:8px;
    padding-right:8px;
    background:#d5f1fa;
    border-radius:10px;
}

h2 {
    display: block;
    padding-top: 8px;
    padding-right: 16px;
    padding-bottom: 8px;
    padding-left: 16px;
    background:#d5f1fa;
    border-radius:10px;
}

.bar-item.button {
    display: block;
    vertical-align: middle;
    padding-top: 8px;
    padding-right: 16px;
    padding-bottom: 8px;
    padding-left: 16px;
}

.sidebar {
 height: 100%;
 width: 0;
 background: #d5f1fa;
 position: fixed;
 z-index: 1;
 top: 0;
 left: 0;
 padding-top: 60px;
 transition: 0.5;
 padding: 8px;
 margin: 8px;
 overflow-x: auto;
 overflow-y: auto;
 border-radius: 10px;
}

/* Position and style the close button (top right corner) */
.sidebar .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

/* The button used to open the sidebar */
.openbtn {
    font-size: 20px;
    cursor: pointer;
    background-color: #111;
    color: white;
    padding: 10px 15px;
    border: none;
}

.openbtn:hover {
    background-color: #444;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidebar {padding-top: 15px;}
    .sidebar a {font-size: 18px;}
}
