<!DOCTYPE html>
<html>
<head>
    
    <title>Side Project</title>
    <link rel="stylesheet" type="text/css" href="project1.css">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.19/angular.min.js"></script>
    <script src="project1.js"></script>
    
</head>
<body>


<div class="col-md-6 col-md-offset-3">
    
    <div class="page-header">
        <h2>Creative Title</h2>
    </div>


<div ng-app='app' ng-controller="mainController">
    <div class="sliderWrapper">
        <div>Use existing file&nbsp;&nbsp;</div>
    <label class="switch" id="fileOrRecord">
        <input type="checkbox">
        <span class="slider round" onclick="toggle()"></span>
    </label>
    </div>
    <form novalidate class="simple-form">
        <br/>
        Filename: <input id="filename" type="file" accept="audio/*"><br/>
        <input id="record" type="submit" value="Record" /><br/><br/>
        Change by: <input id="change" type="text" ng-model="user.chat" /> Hz<br/><br/>
        <input type="submit" ng-click="update(user)" value="Submit" />
    </form>
</div>

</div>
</body>
</html>
